
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

	#nav
	{
		line-height:2px;
	    background-color:lightgrey;
     height:20px;
	 width:1490px;
	float:left;
	padding:10px;
		
	}
	address
	{
	position:absolute;
top: 500px;
left: 1270px;
width: 200px;
height: 200px;	



	}
	
	
	
img#g 
{
	position :absolute;
	top:8px;
	left: 20px;
width: 200px;
height: 80px;
}

	
	
	
	#section
	{
		width:1310;
		height:510;
		padding:10px;
		float:left;
		
		
		
	}
	
	
	
	
	
	
	
	img#av
	{
	position: absolute;
	
top: 150px;
left: 1270px;
width: 80px;
height: 80px;
	}
	
	h2
	{
		
		position:absolute;
		top:250px;
    left:1230px;
		
	}
	
	a {
		text-decoration:none;
	}
	
		a:hover 
		{
		color:red; 
		
		background-color:transparent;  
	}

	a:active {
		color:purple; background-color:transparent;
	}
	

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
}
